@using DAL;
@model Item
@{
    List<SelectListItem> sizeList = (List<SelectListItem>)ViewBag.sizeList;
    String GroupName = (String)ViewBag.GroupName;
}
@using (Html.BeginForm("UpdateZone", "Admin", FormMethod.Post, new { id = "myForm" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => Model.id_item, new { id = "id_item" })

    @Html.HiddenFor(m => m.dt_create)
    @Html.HiddenFor(m => m.dt_create)
    @Html.HiddenFor(m => m.stat_void)
    @Html.HiddenFor(m => m.x)
    @Html.HiddenFor(m => m.y)
    <div class="form-group">
        <label>Group</label>
        <div>
            <input class="form-control" disabled  value="@GroupName"/>
        </div>
    </div>
    <div class="form-group">
        <label>item name</label>
        @Html.TextBoxFor(m => m.item_name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>icon url</label>
        @Html.TextBoxFor(m => m.icon_url, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>report url</label>
        @Html.TextBoxFor(m => m.report_url, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>size</label>
        @Html.DropDownListFor(m => m.size, sizeList, new { @class = "form-control" })

    </div>
    <button type="submit" class="btn btn-success btn-send w-25">Save</button>
    <a class="btn btn-danger btn-del-zone w-25" href="@Url.Content("~/Admin/DeleteItem")/@Model.id_item">Delete Zone</a>
}

