
@using DAL;
@model Item
@{
    List<SelectListItem> sizeList = (List<SelectListItem>)ViewBag.sizeList;
    List<SelectListItem> groupList = (List<SelectListItem>)ViewBag.groupList;
    String GroupName = (String)ViewBag.GroupName;

}
@using (Html.BeginForm("AddZone", "Admin", FormMethod.Post, new { id = "myForm" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => Model.id_item, new { id = "id_item" })

    @Html.HiddenFor(m => m.dt_create)
    @Html.HiddenFor(m => m.dt_create)
    @Html.HiddenFor(m => m.stat_void)
    @Html.HiddenFor(m => m.x)
    @Html.HiddenFor(m => m.y)
    <div class="form-group">
        <label>Group</label>
        <div>
           
            @Html.DropDownList("id_group", groupList, new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        <label>item name</label>
        @Html.TextBoxFor(m => m.item_name, new { @class = "form-control" , required = "required" })
    </div>

    <div class="form-group">
        <label>icon url</label>
        @Html.TextBoxFor(m => m.icon_url, new { @class = "form-control" , required = "required" })
    </div>

    <div class="form-group">
        <label>report url</label>
        @Html.TextBoxFor(m => m.report_url, new { @class = "form-control" , required = "required" })
    </div>
    <div class="form-group">
        <label>size</label>
        @Html.DropDownListFor(m => m.size, sizeList, new { @class = "form-control" })

    </div>
    <button type="submit" class="btn btn-success btn-send w-50">Save</button>
}

